@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=McLaren&family=Quicksand:wght@300..700&display=swap');

:root {
    --cor-branco: #FFFFFF;
    --cor-preto: #000000;
    --cor-roxo: #A451FC;
    --cor-rosa: #FFC3F0;
    --cor-salmao: #F9B8AE;
    --cor-roxo-claro: #E896FA;
    --cor-rosa-claro: #FAD9F2;
    --cor-rosa-fundo: #FDF3FB;
    --cor-rosa-escuro: #FF03C0;
    --cor-roxo-fundo: #F3BCFF;
    --cor-roxo-escuro: #7A03F9;
    --cor-slamao-fundo: #FFCED5;

}

*{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
    color: black;
}

.flex {
    display: flex;
    align-items: center;
}

.column {
    flex-direction: column;
    align-items: start;
}

.gap-nav-footer {
    gap: 27px;
}

.inferior {
    align-items: end;
}

.texto-branco {
    color: var(--cor-branco);
    font-size: 17px;
}

.gap-vinte {
    gap: 20px;
}

footer {
    background-color: var(--cor-roxo-escuro);
    padding: 25px 30px;
    text-align: left;
    gap: 275px;
    max-width: 1400px;
    transition: 0.5s;
}

footer a:hover {
    text-decoration:underline;
    transition: 0.5s;
}

.logo-footer {
    width: 320px;
    height: auto;
}

.nav-footer a {
    font-family: 'McLaren', sans-serif;
    color: var(--cor-branco);
    font-size: 21px;
}

.redes-sociais {
    height: 320px;
    font-weight: bold;
}

.pagamento {
    width: 305px;
    height: auto;
}