<!DOCTYPE html>
<html lang="pt-BR" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de usuário - PetCarinho</title>
    <link rel="stylesheet" href="../static/css/estilo.css">
</head>
<body>
    <header class="d-flex">
         <img src="../static/img/logo.png" alt="Logo da PetCarinho">
         <nav class="cabecalho d-flex">
            <a href="index.html">Home</a>
            <a href="index.html">Quem somos</a>
            <a href="index.html">Serviços</a>
            <a href="index.html">Depoimentos</a>
            <div class="botoes">
            <a class="login" href="login.html">Login</a>
            <a class="cadastro" href="cadastro_usuario.html">Cadastro</a>
            </div>
         </nav>   
    </header>

    <main>
        <section>
            <a href="index.html"><img src="../static/img/seta.png" alt="Seta voltar"></a>
        </section>

        <section>
            {% with mensagens = get_flashed_messages() %}
                {% if mensagens %}
                    <div class="mensagens">
                      {% for msg in mensagens %}
                        <p>{{ msg }}</p>
                      {% endfor %}
                    </div>
              {% endif %}
            {% endwith %}
        </section>


        <div class="foto d-flex">
            <img src="../static/img/usuario sem foto.png" alt="Ícone de usuário">
        </div>
        <section class="login2">


        <section>
            <div class="foto d-flex">
                <img src="../static/img/usuario sem foto.png" alt="Ícone de usuário">
            </div>

            <div class="inputs">
                <form action="{{ url_for('cadastro_usuario') }}" method="POST">

                <div class="campo">
                    <label for="nome">Nome:</label>
                    <input type="text" id="nome" name="nome" required>
                </div>

                <div class="campo">
                    <label for="data-nascimento">Data de nascimento:</label>
                    <input type="date" id="data-nascimento" name="data-nascimento" required>
                </div>

                <div class="campo">
                    <label for="endereco">Endereço completo:</label>
                    <input type="text" id="endereco" name="endereco" required>
                </div>

                <div class="campo">
                    <label for="cep">CEP:</label>
                    <input type="text" id="cep" name="cep" required>
                </div>

                <div class="campo">
                    <label for="telefone">Telefone:</label>
                    <input type="tel" id="telefone" name="telefone" required>
                </div>

                <div class="campo">
                    <label for="senha">Senha:</label>
                    <input type="password" id="senha" name="senha" required
                    minlength="4" maxlength="10"
                    pattern="(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9])(?=.*\W+).*$">
                </div>


                <div class="botaoalinhar botaodesalvar">
                    <button type="submit">Salvar</button>
                </div>

                    <p class="aviso">*é necessário conter uma letra maiuscula, uma minuscula, um caractere especial e um número!</p>
                    <br>
                    <button class="botao" type="submit">Salvar</button>

                </form>
            </div>
        </section>

    </main>

    <footer class="flex">
        <div class="flex gap-vinte">
            <img src="../static/img/logo.png" alt="Logo PetCarinho" class="logo-footer">
            <div class="nav-footer flex column gap-nav-footer">
                <a href="/">Home</a>
                <a href="/">Quem somos</a>
                <a href="/">Serviços</a>
                <a href="/">Depoimentos</a>
            </div>
        </div>
        <div class="flex inferior redes-sociais">
            <div class="flex column gap-vinte">
                <div class="redes-sociais-texto">
                    <h5 class="texto-branco">Redes Sociais:</h5>
                    <p class="texto-branco">Instagram: <a href="http://instagram.com" target="_blank" class="texto-branco">@petcarinho</a></p>
                    <p class="texto-branco">Facebook: <a href="http://facebook.com" target="_blank" class="texto-branco">PetCarinho Clínica Veterinária</a></p>
                    <p class="texto-branco">Twitter: <a href="http://twitter.com" target="_blank" class="texto-branco">@petcarinho_vet</a></p>
                </div>
                <img src="../static/img/pagamento.png" alt="Formas de pagamento" class="pagamento">
            </div>
        </div>
    </footer>
</body>
</html>