<!DOCTYPE html>
<html lang="pt-BR" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edição de usuário - PetCarinho</title>
    <link rel="stylesheet" href="../static/css/estilo.css">
</head>

<body>
    <header class="d-flex">
        <img src="../static/img/logo.png" alt="Logo da PetCarinho">
        <nav class="cabecalho d-flex">
            <a href="/#home">Home</a>
            <a href="/#quem_somos">Quem somos</a>
            <a href="/#servicos">Serviços</a>
            <a href="/#depoimentos">Depoimentos</a>
        </nav>
    </header>

    <main>
        <section class="seta-mensagens">
            <a
            {% if LOGADO == 0 %}
                href="{{ url_for('dashboard') }}"
            {% elif LOGADO['tipo'] == 1 %}
                href="{{ url_for('pagina_usuario', codigo=usuario['codigo']) }}"
            {% elif LOGADO['tipo'] == 2 %}
                href="{{ url_for('pagina_veterinario', codigo=usuario['codigo']) }}"
            {% else %}
                href="{{ url_for('dashboard') }}"
            {% endif %}
            >
                <img src="../static/img/seta.png" alt="Seta voltar"></a>
            {% with mensagens = get_flashed_messages(with_categories=true) %}
                {% if mensagens %}
                    <div class="mensagens">
                        {% for categoria, mensagem in mensagens %}
                            {% if categoria == 'erro' %}
                                <div class="mensagem-erro">
                                    <p>⚠️ {{ mensagem }}</p>
                                </div>
                            {% elif categoria == 'sucesso' %}
                                <div class="mensagem-sucesso">
                                    <p>🎉 {{ mensagem }}</p>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
        </section>


        <div class="foto d-flex">
            <img src="../static/img/usuario sem foto.png" alt="Ícone de usuário">
        </div>

        <section class="login2">
            <div class="inputs">
                <form action="{{ url_for('edicao_usuario', codigo=usuario['codigo']) }}" method="POST">
                    <div class="campo">
                        <label for="nome">Nome:</label>
                        <input type="text" id="nome" name="nome" required value="{{ usuario.nome }}">
                    </div>
                    <div class="campo">
                            <label for="email">E-mail:</label>
                            <input type="email" id="email" name="email" required value="{{ usuario.email }}">
                        </div>
                    <div class="campo">
                        <label for="data-nascimento">Data de nascimento:</label>
                        <input type="date" id="data-nascimento" name="data-nascimento" required
                            value="{{ usuario.data_nascimento }}">
                    </div>
                    <div class="campo">
                        <label for="endereco">Endereço completo:</label>
                        <input type="text" id="endereco" name="endereco" required value="{{ usuario.endereco }}">
                    </div>
                    <div class="campo">
                        <label for="cep">CEP:</label>
                        <input type="text" id="cep" name="cep" required value="{{ usuario.cep }}">
                    </div>
                    <div class="campo">
                        <label for="telefone">Telefone:</label>
                        <input type="tel" id="telefone" name="telefone" required value="{{ usuario.telefone }}">
                    </div>
                    <div class="campo">
                        <label for="senha">Alterar a senha:</label>
                        <input type="password" id="senha" name="senha" required value="{{ usuario.senha }}">
                    </div>
                    <div class="botaosalvar botaoalinhar pralalala">
                        <button class="botao animacao" type="submit">Salvar</button>
                    </div>
                </form>
            </div>
        </section>
    </main>

    <footer class="flex">
        <div class="flex gap-vinte">
            <img src="../static/img/logorodape.png" alt="Logo PetCarinho" class="logo-footer">
            <div class="nav-footer flex column gap-nav-footer">
                <a href="/#home">Home</a>
                <a href="/#quem_somos">Quem somos</a>
                <a href="#servicos">Serviços</a>
                <a href="/#depoimentos">Depoimentos</a>
            </div>
        </div>
        <div class="flex inferior redes-sociais">
            <div class="flex column gap-vinte">
                <div class="redes-sociais-texto">
                    <h5 class="texto-branco">Redes Sociais:</h5>
                    <p class="texto-branco">Instagram: <a href="http://instagram.com" target="_blank"
                            class="texto-branco">@petcarinho</a></p>
                    <p class="texto-branco">Facebook: <a href="http://facebook.com" target="_blank"
                            class="texto-branco">PetCarinho Clínica Veterinária</a></p>
                    <p class="texto-branco">Twitter: <a href="http://twitter.com" target="_blank"
                            class="texto-branco">@petcarinho_vet</a></p>
                </div>
                <img src="../static/img/pagamento.png" alt="Formas de pagamento" class="pagamento">
            </div>
        </div>
    </footer>
</body>

</html>