<!DOCTYPE html>
<html lang="pt-br" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edição do Animal - PetCarinho</title>

    <link rel="stylesheet" href="../static/css/estilo.css">
</head>

<body>
    <header class="d-flex">
        <img src="../static/img/logo.png" alt="Logo da PetCarinho">
        <nav class="cabecalho d-flex">
            <a href="/#home">Home</a>
            <a href="/#quem_somos">Quem somos</a>
            <a href="/#servicos">Serviços</a>
            <a href="/#depoimentos">Depoimentos</a>
        </nav>
    </header>
    <main>
        <section class="seta-mensagens">
            {% with mensagens = get_flashed_messages(with_categories=true) %}
                {% if mensagens %}
                    <div class="mensagens">
                        {% for categoria, mensagem in mensagens %}
                            {% if categoria == 'erro' %}
                                <div class="mensagem-erro">
                                    <p>⚠️ {{ mensagem }}</p>
                                </div>
                            {% elif categoria == 'sucesso' %}
                                <div class="mensagem-sucesso">
                                    <p>🎉 {{ mensagem }}</p>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
        </section>

        <section>
            <div class="imgdogsemfoto">
                <img src="../static/img/dog_usuario.png" alt="Dog Usuário">
            </div>

            <div class="patinhas">
                <img src="../static/img/patinha.png" alt="pata" class="pata1">
                <img src="../static/img/patinha.png" alt="pata" class="pata2">
                <img src="../static/img/patinha.png" alt="pata" class="pata3">
            </div>


            <form class="inputs" action="{{ url_for('edicao_animal', codigo=animal['codigo']) }}" method="POST">
                <div class="pergunta">
                    <label class="nomeinput" for="nome">Nome: </label>
                    <input type="text" id="nome" name="nome" required value="{{ animal.nome }}">
                </div>

                <div class="pergunta">
                    <label class="nomeinput" for="sexo">Sexo:</label>
                    <select name="sexo" id="sexo" required>
                        <option value="M" {% if animal.sexo == 'M' %}selected{% endif %}>Macho</option>
                        <option value="F" {% if animal.sexo == 'F' %}selected{% endif %}>Fêmea</option>
                    </select>
                </div>


                <div class="pergunta">
                    <label class="nomeinput" for="especies">Espécie:</label>
                    <select name="especie" id="especie" required>
                        <option value="cachorro" {% if animal.especie == 'cachorro' %}selected{% endif %}>Cachorro</option>
                        <option value="gato" {% if animal.especie == 'gato' %}selected{% endif %}>Gato</option>
                        <option value="calopsita" {% if animal.especie == 'calopsita' %}selected{% endif %}>Calopsita</option>
                        <option value="coelho" {% if animal.especie == 'coelho' %}selected{% endif %}>Coelho</option>
                    </select>
                </div>

                <div class="pergunta">
                    <label class="nomeinput" for="raca">Raça: </label>
                    <input type="text" id="raca" name="raca" required value="{{ animal.raca }}">
                </div>

                <div class="pergunta">
                    <label class="nomeinput" for="data-nascimento">Data de nascimento do pet: </label>
                    <input type="date" id="data_nascimento" name="data_nascimento" required value="{{ animal.data_nascimento }}">
                </div>

                <div class="pergunta">
                    <label class="nomeinput" for="peso">Peso (kg):</label>
                    <input type="number" id="peso" name="peso" step="0.1" min="0" required value="{{ animal.peso }}">
                </div>

                <div class="botaodesalvar">
                    <button class="animacao" type="submit">Salvar</button>
                </div>

            </form>
        </section>

    </main>
    <footer class="flex">
        <div class="flex gap-vinte">
            <img src="../static/img/logo.png" alt="Logo PetCarinho" class="logo-footer">
            <div class="nav-footer flex column gap-nav-footer">
                <a href="/#home">Home</a>
                <a href="/#quem_somos">Quem somos</a>
                <a href="/#servicos">Serviços</a>
                <a href="/#depoimentos">Depoimentos</a>
            </div>
        </div>
        <div class="flex inferior redes-sociais">
            <div class="flex column gap-vinte">
                <div class="redes-sociais-texto">
                    <h5 class="texto-branco">Redes Sociais:</h5>
                    <p class="texto-branco">Instagram: <a href="http://instagram.com" target="_blank"
                            class="texto-branco">@petcarinho</a></p>
                    <p class="texto-branco">Facebook: <a href="http://facebook.com" target="_blank"
                            class="texto-branco">PetCarinho Clínica Veterinária</a></p>
                    <p class="texto-branco">Twitter: <a href="http://twitter.com" target="_blank"
                            class="texto-branco">@petcarinho_vet</a></p>
                </div>
                <img src="../static/img/pagamento.png" alt="Formas de pagamento" class="pagamento">
            </div>
        </div>

    </footer>
</body>