<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmação - PetCarinho</title>
    <link rel="stylesheet" href="../static/css/estilo.css">
</head>

<body>
    <header class="d-flex">
        <img src="../static/img/logo.png" alt="Logo da PetCarinho">
        <nav class="cabecalho d-flex">
            <a href="/#home">Home</a>
            <a href="/#quem_somos">Quem somos</a>
            <a href="/#servicos">Serviços</a>
            <a href="/#depoimentos">Depoimentos</a>
        </nav>
    </header>

    <main>
        <section class="seta-mensagens">
            <a href="/dashboard"><img src="../static/img/seta.png" alt="Seta voltar"></a>
            {% with mensagens = get_flashed_messages(with_categories=true) %}
                {% if mensagens %}
                    <div class="mensagens">
                        {% for categoria, mensagem in mensagens %}
                            {% if categoria == 'erro' %}
                                <div class="mensagem-erro">
                                    <p>⚠️ {{ mensagem }}</p>
                                </div>
                            {% elif categoria == 'sucesso' %}
                                <div class="mensagem-sucesso">
                                    <p>🎉 {{ mensagem }}</p>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
        </section>



        <section class="confirmacao">
            <form method="POST" action="{{ url_for('exclusao_veterinario', codigo=codigo) }}">
                <h5>Confirmação</h5>
                <p>Ao continuar, você irá apagar todos os dados do veterinário {{ usuario.nome }}</p>
                <div class="flex around">
                        <button class="botaoexcluir animacao" type="submit">Excluir</button>
                        <a class="botaoexcluir animacao" href="/dashboard">Cancelar</a>
                </div>
            </form>
        </section>
    </main>

    <footer class="flex">
        <div class="flex gap-vinte">
            <img src="../static/img/logorodape.png" alt="Logo PetCarinho" class="logo-footer">
            <div class="nav-footer flex column gap-nav-footer">
                <a href="/#home">Home</a>
                <a href="/#quem_somos">Quem somos</a>
                <a href="#servicos">Serviços</a>
                <a href="/#depoimentos">Depoimentos</a>
            </div>
        </div>
        <div class="flex inferior redes-sociais">
            <div class="flex column gap-vinte">
                <div class="redes-sociais-texto">
                    <h5 class="texto-branco">Redes Sociais:</h5>
                    <p class="texto-branco">Instagram: <a href="http://instagram.com" target="_blank"
                            class="texto-branco">@petcarinho</a></p>
                    <p class="texto-branco">Facebook: <a href="http://facebook.com" target="_blank"
                            class="texto-branco">PetCarinho Clínica Veterinária</a></p>
                    <p class="texto-branco">Twitter: <a href="http://twitter.com" target="_blank"
                            class="texto-branco">@petcarinho_vet</a></p>
                </div>
                <img src="../static/img/pagamento.png" alt="Formas de pagamento" class="pagamento">
            </div>
        </div>
    </footer>
</body>

</html>