<!DOCTYPE html>
<html lang="pt-br">
    <link rel="stylesheet" href="../static/css/estilo.css">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PetCarinho</title>
    <link rel="stylesheet" href=""> 
</head>

<body>

    <header class="d-flex">
        <img src="../static/img/logo.png" alt="Logo da PetCarinho">
        <nav class="cabecalho d-flex">
            <a href="index.html">Home</a>
            <a href="index.html">Quem somos</a>
            <a href="index.html">Serviços</a>
            <a href="index.html">Depoimentos</a>
            <div class="botoes">
                <a class="login" href="login.html">Login</a>
                <a class="cadastro" href="/cadastro_usuario">Cadastro</a>
            </div>
        </nav>
    </header>

    <main>
        <section>
            <div class="introducao">
                <div class="texto-introducao">
                    <h1 class="frase1">Patinhas felizes, <br> corações tranquilos</h1>
                    <h2 class="frase2">O cuidado que seu pet merece, com <br> amor em cada detalhe.</h2>
                    <p class="frase3">Na PetCarinho, cada pet é tratado com atenção, carinho e profissionalismo.
                        Cuidamos da saúde do seu melhor amigo em um ambiente acolhedor, para que ele se sinta seguro — e
                        você, tranquilo.</p>
                    <a class="agendamento" href="">Agende já sua consulta!</a></h3>
                </div>
                <img class="img-introducao" src="../static/img/gato-cachorro.png" alt="Gato e cachorro">
            </div>
            <img class="patinha1" src="../static/img/pata.png" alt="Pata de cachorro">
            <img class="patinha2" src="../static/img/pata.png" alt="Pata de cachorro">
        </section>

        <article class="atendimento">
            <h2>Horários de <br> atendimento</h2>
            <h3>Segunda a Sexta: 08:00 - 18:00 <br>
                Sábado: 08:00 - 14:00 <br>
                Domingo: Fechado</h3>
        </article>

        <section>
            <div>
                <img src="../static/img/Pet-unidos.png" alt="Imagem com gato, cachorro e pássaro">
                <div></div>
                <h3>Quem <span>Somos</span></h3>
                <p>A PetCarinho é uma clínica veterinária dedicada à saúde e ao bem-estar dos pets. Com uma equipe
                    apaixonada e qualificada, oferecemos atendimento completo e acolhedor, sempre com carinho e
                    responsabilidade. Aqui, seu pet é tratado como parte da nossa família.</p>
            </div>
        </section>

        <section>
            <div>
                <img src="../static/img/pata.png" alt="Pata de cachorro">
                <h4>Nossos Serviços</h4>
                <img src="../static/img/pata.png" alt="Pata de cachorro">
            </div>

            <div>
                <img src="../static/img/clinico-geral.png" alt="Icon do nosso serviço de clinico-geral">
                <p>Clínico geral</p>
                <p>Consultas para avaliação e cuidados gerais com a saúde do pet</p>

                <br>

                <img src="../static/img/medicacao.png" alt="Icon do nosso serviço de medicação">
                <p>Medicação</p>
                <p>Administração segura de remédios com acompanhamento.</p>

                <br>

                <img src="../static/img/dentista.png" alt="Icon do nosso serviço de dentista">
                <p>Dentista</p>
                <p>Higiene e tratamento bucal para dentes saudáveis.</p>

                <br>

                <img src="../static/img/intravenoso.png" alt="Icon do nosso serviço intravenoso">
                <p>Intravenoso</p>
                <p>Reposição e tratamento via aplicação intravenosa.</p>

                <br>

                <img src="../static/img/banho-tosa.png" alt="Icon do nosso serviço de banho e tosa">
                <p>Banho e Tosa</p>
                <p>Higiene, conforto e beleza para o seu pet.</p>

                <br>

                <img src="../static/img/cirurgia.png" alt="Icon do nosso serviço de cirurgias">
                <p>Cirurgias</p>
                <p>Procedimentos seguros com foco no bem-estar do pet.</p>
            </div>
        </section>

        <section>
            <h4>Conheça os latidos e miados <span>dos nossos clientes</span></h4>
            <div>
                <img src="../static/img/Avaliacao.png" alt="Gato e cachorro da avaliação">
                <div class="comentario1">
                    <img src="../static/img/estrela.png" alt="Estrela de avaliação">
                    <img src="../static/img/estrela.png" alt="Estrela de avaliação">
                    <img src="../static/img/estrela.png" alt="Estrela de avaliação">
                    <img src="../static/img/estrela.png" alt="Estrela de avaliação">
                    <img src="../static/img/estrela.png" alt="Estrela de avaliação">
                    <p>"A equipe da PetCarinho foi incrível com o meu cachorro, o Thor. Atendimento rápido, atencioso e
                        cheio de carinho. Recomendo de olhos fechados!"
                        <br>
                        <span>— Fernanda Alves, tutora do Thor</span>
                    </p>
                </div>

                <div class="comentario2">
                    <img src="../static/img/estrela.png" alt="Estrela de avaliação">
                    <img src="../static/img/estrela.png" alt="Estrela de avaliação">
                    <img src="../static/img/estrela.png" alt="Estrela de avaliação">
                    <img src="../static/img/estrela.png" alt="Estrela de avaliação">
                    <img src="../static/img/estrela.png" alt="Estrela de avaliação">
                    <img src="../static/img/estrela.png" alt="Estrela de avaliação">
                    <img src="../static/img/estrela.png" alt="Estrela de avaliação">
                    <img src="../static/img/estrela.png" alt="Estrela de avaliação">
                    <p>"Levei a Luna para uma consulta e saí muito mais tranquila. O cuidado e a paciência da equipe
                        fizeram toda a diferença. Ela até abanou o rabinho na hora de ir embora!"
                        <br>
                        <span>— Carlos Menezes, tutor da Luna</span>
                    </p>
                </div>
            </div>
        </section>
    </main>

    <footer class="flex">
        <div class="flex gap-vinte">
            <img src="../static/img/logo.png" alt="Logo PetCarinho" class="logo-footer">
            <div class="nav-footer flex column gap-nav-footer">
                <a href="index.html">Home</a>
                <a href="index.html">Quem somos</a>
                <a href="index.html">Serviços</a>
                <a href="index.html">Depoimentos</a>
            </div>
        </div>
        <div class="flex inferior redes-sociais">
            <div class="flex column gap-vinte">
                <div class="redes-sociais-texto">
                    <h5 class="texto-branco">Redes Sociais:</h5>
                    <p class="texto-branco">Instagram: <a href="http://instagram.com" target="_blank"
                            class="texto-branco">@petcarinho</a></p>
                    <p class="texto-branco">Facebook: <a href="http://facebook.com" target="_blank"
                            class="texto-branco">PetCarinho Clínica Veterinária</a></p>
                    <p class="texto-branco">Twitter: <a href="http://twitter.com" target="_blank"
                            class="texto-branco">@petcarinho_vet</a></p>
                </div>
                <img src="../static/img/pagamento.png" alt="Formas de pagamento" class="pagamento">
            </div>
        </div>
    </footer>
</body>

</html>